<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>41178AD5-9EAA-43F5-A63E-AB72B55EE101</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>52868148257</integer>
		<key>UUID</key>
		<string>B720928C-C62A-41C0-8ECD-234E64975769</string>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>3639230585826</integer>
			<key>UUID</key>
			<string>69D0A5BA-3168-41B0-A6D2-186CD4E96A1C</string>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>10485760</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>23262900224</integer>
			<key>UUID</key>
			<string>B720928C-C62A-41C0-8ECD-234E64975769</string>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>4</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-906.220.1</string>
	<key>OSLoggingSupportVersion</key>
	<real>906.22000000000003</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>2179171212307</integer>
			<key>UUID</key>
			<string>69D0A5BA-3168-41B0-A6D2-186CD4E96A1C</string>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>104857600</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>0</integer>
			<key>UUID</key>
			<string>B720928C-C62A-41C0-8ECD-234E64975769</string>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>20971520</integer>
	<key>SourceIdentifier</key>
	<string>177C36C8-6C5C-438F-98EF-B445A82B2CAD</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>0</integer>
			<key>UUID</key>
			<string>43219720-BE21-4211-B40E-79484C3C3005</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>ttl01</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>1564780533340</integer>
				<key>UUID</key>
				<string>69D0A5BA-3168-41B0-A6D2-186CD4E96A1C</string>
			</dict>
			<key>ttl03</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>8371348094811</integer>
				<key>UUID</key>
				<string>24DAE357-E2D3-4856-AC95-3DC560AB82CF</string>
			</dict>
			<key>ttl07</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>791114103696</integer>
				<key>UUID</key>
				<string>24DAE357-E2D3-4856-AC95-3DC560AB82CF</string>
			</dict>
			<key>ttl14</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>0</integer>
				<key>UUID</key>
				<string>43219720-BE21-4211-B40E-79484C3C3005</string>
			</dict>
			<key>ttl30</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>0</integer>
				<key>UUID</key>
				<string>43219720-BE21-4211-B40E-79484C3C3005</string>
			</dict>
		</dict>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>94371840</integer>
</dict>
</plist>
