<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>1d1562aeae7f4eb732cbcb3313bf606ccd14a987</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=2B812B85-C5F6-4BBA-8E1E-93F4C4660D24
Date=2018-11-26;AP=15G77;BB=3.70.00;Model=D10AP;Machine=iPhone9,1
</string>
	<key>os_version</key>
	<string>iOS 12.1 (16B92)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
